/* --------------------------------------STATS-------------------------------------- */
.atks {
    background-color: #ffd4db;
    font-size: 16px;
}

.defs {
    background-color:#ddfbb6;
    font-size: 16px;
}

.hps {
    background-color: pink;
    font-size: 16px;
}

.spas {
    background-color: #efcffb;
    font-size: 16px;
}

.spds {
    background-color: #cde7fa;
    font-size: 16px;
}

.spes {
    background-color: #fff878;
    font-size: 16px;
}

/* --------------------------------------ABILITIES-------------------------------------- */

.abil1 {
    margin: 0px;
    background-color : rgb(231, 231, 231);
    font-size: 16px;
    display: inline-block;
    width: 120px;
    text-align: center;
}

.abil1:hover {
    cursor: default;
}

.abil2 {
    margin: 0px;
    background-color: rgb(192, 192, 192);
    font-size: 16px;
    display: inline-block;
    width: 120px;
    text-align: center;
}

.abil2:hover {
    cursor: default;
}

.hidabils {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(255, 228, 249);
    font-size: 16px;
    display: inline-block;
    width: 120px;
    text-align: center;
}

.hidabils:hover {
    cursor: default;
}

/* ----------------------------------TYPES---------------------------------------------------*/

.showing {
    display: block;
}

.hiding {
    display: none;
}


.fire {
    background-color: #EE8130;
    color: #FFFFFF;
}

.normal {
    background-color: #A8A77A;
    color: #000000;
}

.water {
    background-color: #6390F0;
    color: #FFFFFF;
}

.electric {
    background-color: #F7D02C;
    color: #000000;
}

.grass {
    background-color: #7AC74C;
    color: #FFFFFF;
}

.bug {
    background-color: #A6B91A;
    color: #000000;
}

.psychic {
    background-color: #F95587;
    color: #FFFFFF;
}

.ground {
    background-color: #E2BF65;
    color: #000000;
}

.poison {
    background-color: #A33EA1;
    color: #FFFFFF;
}

.ice {
    background-color: #96D9D6;
    color: #000000;
}

.rock {
    background-color: #B6A136;
    color: #000000;
}

.fighting {
    background-color: #C22E28;
    color: #FFFFFF;
}

.flying {
    background-color: #A98FF3;
    color: #000000;
}

.ghost {
    background-color: #735797;
    color: #000000;
}

.dragon {
    background-color: #6F35FC;
    color: #FFFFFF;
}

.dark {
    background-color: #705746;
    color: #FFFFFF;
}

.steel {
    background-color: #B7B7CE;
    color: #000000;
}

.fairy {
    background-color: #D685AD;
    color: #000000;
}
/* ------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}
a {
    font-family: 'Itim', cursive;
    font-size: 80px;
    color: #f8b739;
}

.nav-link {
    font-size: 20px;
}

body {
    background-color: #fffafa;
    
}


input[type=text] {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f1f1f1;
    width: 100%;
    background: #f1f1f1;
    color: rgb(119, 115, 115);
    font-family: 'Quicksand', sans-serif;
}

input[type=submit] {
    margin-top: 15px;
    width: 70px;
    padding: 10px 0;
    background: #f8b739;
    color: white;
    font-size: 17px;
    border: 1px solid #f8b739;
    cursor: pointer;
    border-radius: 15%;
}

input[type=submit]:hover {
    background: #f06a73;
    border: 1px solid #f06a73;
}

/*p {
    display: inline-block;
    font-family: 'Handlee', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-right: 30px;
}*/

.autocomplete-items {
    border-bottom: none;
    border-top: none;
    
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 90%;
    
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #f8b739; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: #f8b739 !important; 
    color: #ffffff; 

}



.altform {
    margin-left: 10%;
}

.autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #f8b739; 
    font-family: 'Quicksand', sans-serif;
    color: #838383;
}

/* .col {
    border: solid;
    border-color: #f06a73;
    border-radius: 5%;
} */

.container {
    position: relative;
}

.copyright {
    text-align: right;

}

.footer {
    bottom: 0%;
    left: 90%;
    position: fixed;
}


.maintext {
    font-family: 'Itim', cursive;
    margin: 0 auto 0 auto;
    font-size: 70px;
    color: #f8b739;
    display: inline-block;
}

#title {
    margin: 0 auto 0 auto;
}

.maintext:hover {
    color:  #f06a73;
}

.names {
    font-size: 24px;
    margin: 0px;
}

.nav-bar {
    background-color: #ffb4dd;
    padding: 2%;
}

.nav-link:hover {
    cursor: pointer;
}

.pokeball {
    padding: 0;
   width: 15%;

}

.search {
    padding: 10px 450px 0 450px;
    position: relative;
    text-align: center;
    font-size: 18px;
}

.types {
    display: inline-block;
    border: none;
    border-radius: 10%;
    padding: 5px;
    text-align: center;
    width: 70px;
}

.the-e {
    font-size: 90px;
    font-weight: 10;
}